.box1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
  left: 50px;
}
.box2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: yellow;
 
  top: 50px;

}
.box3 {
  height: 100px;
  width: 100px;
  background-color: yellow;
  top: 50px;
  left: 50px;

}
.absolute{
    position: absolute;
  
}
.relative{
    position: relative;
}
.container{
width: 500px;
height: 500px;
;
}
.header{
    background-color: blue;
    border: 1000px;
}